body {
  margin: 0;
  padding: 0;
}

#story {
  height: 100vh;
  width: 100vw;
  max-width:100%;
  overflow: hidden;
}

#background {
  background-color: #CFE8EF;
  height: 100%;
  width: 100%;
  position: relative;
}

@-webkit-keyframes blink-1 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink-1 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  11% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  11% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
}

@-webkit-keyframes ambient-flutter {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  20% {
      transform: rotate3d(1, -3, -3, 20deg) translateX(10px);
  }
  40% {
      transform: rotate3d(-1, -3, -5, 25deg) translateX(-10px);
  }
  60% {
      transform: rotate3d(-10, -3, -3, 15deg) translateX(0px);
  }
  50% {
      transform: rotate3d(-2, -3, -4, 20deg) translateX(-5px);
  }
  70% {
      transform: rotate3d(1, -1, 2, 10deg) translateX(5px);
  }
  80% {
      transform: rotate3d(1, -3, 5, 20deg) translateX(10px);
  }
  100% {
      transform: rotate3d(1, 1, 0, 0deg);
  }
}

@keyframes ambient-flutter {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  20% {
      transform: rotate3d(1, -3, -3, 20deg) translateX(10px);
  }
  40% {
      transform: rotate3d(-1, -3, -5, 25deg) translateX(-10px);
  }
  60% {
      transform: rotate3d(-10, -3, -3, 15deg) translateX(0px);
  }
  50% {
      transform: rotate3d(-2, -3, -4, 20deg) translateX(-5px);
  }
  70% {
      transform: rotate3d(1, -1, 2, 10deg) translateX(5px);
  }
  80% {
      transform: rotate3d(1, -3, 5, 20deg) translateX(10px);
  }
  100% {
      transform: rotate3d(1, 1, 0, 0deg);
  }
}

#character {
  height: 294px;
  width: 200px;
  position: relative;
  top: calc(50vh - 147px);
  left: 0;
  transition: all 0.2s;
  perspective: 1000px;
  animation-name: ambient-flutter;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#character .background {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('assets/character/character-background.svg');
  position: absolute;
}

#character .face {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('assets/character/character-expression.svg');
  position: absolute;
  animation-name: blink-2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#character .blink {
  height: 100%;
  width: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url('assets/character/character-expression-blink.svg');
  position: absolute;
  animation-name: blink-1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes cloud {
  0%   {top: 100vh;}
  100% {top: -800px;}
}

@keyframes cloud {
  0%   {top: 100vh;}
  100% {top: -800px;}
}

.clouds {
  position: absolute;
  width: 100%;
  text-align: center;
}

.clouds .cloud {
  background-repeat: no-repeat;
  background-image: url('assets/scenery/cloud.svg');
  height: 800px;
  width: 1200px;
  position: relative;
  top: calc(100vh);
  filter: blur(10px);
  display: inline-block;
  animation-name: cloud;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes branch {
  0%   {top: calc(100vh);}
  100% {top: calc(-100vh);}
}

@keyframes branch {
  0%   {top: calc(100vh);}
  100% {top: calc(-100vh);}
}

.branches {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.branches .branch {
  position: absolute;
  background-repeat: no-repeat;
  animation-duration: 4s;
  top: calc(100vh);
  transform: scale(130%);
  filter: hue-rotate(-5deg);
}

.branches .branch:nth-child(2n-1) {
  left: 0;
  animation-name: branch;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.branches .branch:nth-child(2n) {
  right: 0;
  float: right;
  animation-name: branch;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}

.branches .branch:nth-child(1) {
  background-image: url('assets/scenery/branch-1.png');
  height: 100%;
  width: 45%;
  background-size: contain;
}

.branches .branch:nth-child(2) {
  background-image: url('assets/scenery/branch-2.png');
  height: 100%;
  width: 18%;
  background-size: contain;
}
